@{
    ViewBag.Title = "Task 3";
}

<h2>Задача №3</h2>

<p>sinPart = @ViewBag.sinPart</p>
<p>logSinPart = @ViewBag.logSinPart</p>
<p>powLogSinPart = @ViewBag.powLogSinPart</p>

<p class="font_p">Первый вариант: результат выполнения задачи @ViewBag.lastPowLogSinPart</p>

<p>____________________________________________</p>
<p class="font_p">Второй вариант: результат выполнения задачи @ViewBag.result</p>

